[submodule "applications/luci-app-ss-redir"]
	path = applications/luci-app-ss-redir
	url = https://github.com/liudf0716/luci-app-ss-redir.git
[submodule "applications/luci-app-yt-dlp"]
	path = applications/luci-app-yt-dlp
	url = https://github.com/liudf0716/luci-app-yt-dlp.git
