[submodule "applications/luci-app-apfree-wifidog"]
	path = applications/luci-app-apfree-wifidog
	url = https://github.com/liudf0716/luci-app-apfree-wifidog.git
[submodule "applications/luci-app-kcptun"]
	path = applications/luci-app-kcptun
	url = https://github.com/liudf0716/luci-app-kcptun.git
